<header>
    <form action="/busca" method="get"> 
    
        <input type="text" name="q" placeholder="Qual pizza você procura?"autocomplete="off" value=""> 
        
        <button type="submit">Buscar</button> 
    
    </form>
</header>