<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <link rel="stylesheet" href="/css/index.css">

    <%- include('./partials/header') %>
    
    <main>

        <table>
            <tr>
                <td>
                    <img src="/img/calabresa.jpg" alt="calabresa">
                </td>

                <td>
                    calabresa
                </td>
                
                <td>
                    R$45,00
                </td>
            </tr>
        </table>
        

    </main>
</body>

</html>