<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <link rel="stylesheet" href="/css/cart.css">
    
    <div>
        <% if(pizzasDoCarrinho.length > 0){ %>
        <table>
            <% for(p of pizzasDoCarrinho) {%>
            <tr>
                <td>
                    <img src="<%= p.img %>" alt="<%= p.nome %>">
                </td>
                <td><%= p.nome %></td>
                <td>99</td>
                <td>R$ <%= p.preco %></td>
            </tr>
            <% } %>
        </table>
        <% } else { %>
            Nenhuma pizza no carrinho
        <% } %>
    </div>
</body>
</html>