<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
	<link rel="stylesheet" href="assets/css/index.css">
	<form action="/busca" method="get">
		<input type="text" name="q" placeholder="Qual pizza você procura?" autocomplete="off" value="">
		<button type="submit">Buscar</button>
	</form>

	<main>
		<article>
			<img src="./assets/img/quatroqueijos.jpg" alt="Quatro Queijos">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Quatro Queijos</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/pepperoni.jpg" alt="Pepperoni">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/fracatu.jpg" alt="Fracatu">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Fracatu</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/calabresa.jpg" alt="Calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Calabresa</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/marguerita.jpg" alt="marguerita">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Marguerita</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/quatroqueijos.jpg" alt="Quatro Queijos">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Quatro Queijos</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/pepperoni.jpg" alt="Pepperoni">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/fracatu.jpg" alt="Fracatu">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Fracatu</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/calabresa.jpg" alt="Calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Calabresa</div>
			<span>R$ 33,90</span>
		</article>
		<article>
			<img src="./assets/img/marguerita.jpg" alt="marguerita">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Marguerita</div>
			<span>R$ 33,90</span>
		</article>
	</main>

	<!--
	<div class="pizza-nao-encontrada">Nenhuma pizza encontrada. Tente ser menos específico na sua busca.</div>
	-->
	
</body>
</html>