div {
    width: 600px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

div table {
    width: 100%;
    border-collapse: collapse;
}

div table td{
    border: solid 1px #333;
    padding: 10px;
}

div table td:first-child{
    width: 100px;
    padding: 1px;
}

div table img {
    width: 100%;
    display: block;
}