html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    width: 720px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
}

main form {
    width: 50%;
    padding: 20px;
}

main form .controles{
    display: flex;
    justify-content: flex-end;
}

#formLogin {
    border-right: 1px solid #333;
}
